<<<<<<< HEAD
* {
    margin: 0%;
    padding: 0%;
}

.fundo {
    background-color: #EBD5D5;
}

.centro {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
}

.software {
    position: absolute;
    margin-left: -330px;
    font-size: 45px;
    margin-top: -31px;
    color: #555555;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.esconde {
    visibility: hidden;
}

.radio {
    background-color: #555555;
}

.hardware {
    position: absolute;
    margin-left: 145px;
    margin-top: -30px;
    font-size: 45px;
    color: #555555;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.hardware:hover,
.software:hover,
.paodebatata:hover {
    cursor: pointer;
}


a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.linha {
    z-index: -1;
    position: absolute;
}

.dados {
    text-align: center;
    margin: 2vw;
    margin-bottom: -4vw;

}

.computador {
    height: 10vw;
    width: 10vw;
}

.barrasup {
    height: 99px;
    width: 100%;
    display: flex;
    background-image: url(../img/Faixa.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.circuloE {
    fill: #555555;
    position: fixed;
    margin-left: -300px;
}

.circuloD {
    fill: #555555;
    position: fixed;
    margin-left: 300px;
}

.logo {
    height: 6.25vw;
    width: 6.25vw;
    place-self: center;
    margin-left: 5%;
    margin-right: -10%;
}

.inputBase {
    background-color: #E4E1E1;
    border-radius: 25px;
    text-align: center;
    border-width: 0.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 15vw;
    height: 2vw;
}

.techelp {
    position: absolute;
    place-self: center;
    margin-left: 14vw;
    height: 2vw;
}

.buttons {
    height: 5vw;
    width: 30%;
    margin-left: 60%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.Txt {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10mm;
    text-decoration: none;
    position: absolute;
    display: flex;
    margin-top: -170px;
    width: 200px;
    margin-left: 25px;
}

.TxtHM {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4mm;
    text-decoration: none;
    position: absolute;
    display: flex;
    width: 40px;
    margin-top: -52px;
    margin-left: 18px;
}

.TxtRP {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.58mm;
    text-decoration: none;
    position: absolute;
    display: flex;
    height: 77px;
    width: 77px;
    margin-top: -59px;
    margin-left: 3.5px;
    background-image: url(../static/img/RelatarBut.svg);
    background-repeat: no-repeat;
    background-size: 77px;

}

.TxtSF {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.8mm;
    text-decoration: none;
    position: absolute;
    display: flex;
    width: 50px;
    margin-top: -59px;
    margin-left: 13.5px;
}

.TxtAT {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.8mm;
    text-decoration: none;
    position: absolute;
    display: flex;
    width: 60px;
    margin-top: -59px;
    margin-left: 8px;
}

.hexag {
    height: 85px;
    width: 85px;
    margin-top: 5px;
}

.hexagHM {
    height: 77px;
    width: 77px;
    margin-top: -5.6px;
    margin-right: -19.4px;
}

.hexagRP {
    height: 77px;
    width: 77px;
    margin-top: 27.5px;
    margin-right: -19.4px;
}

.hexagSF {
    height: 77px;
    width: 77px;
    margin-top: -5.2px;
    margin-right: -19.4px;
}

.hexagAT {
    height: 77px;
    width: 77px;
    margin-top: 27.5px;
    margin-right: -19.4px;
}

.butao {
    margin: 0;
}




/* Funcionamento do modal */
.bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

/* Modal Hardware / ... */
/* Conteúdo */
.modal-content-hardware {
    width: 40vw;
    height: 31vw;
    background-color: white;
    text-align: center;
    padding: 1vw;
    position: relative;
    border-radius: 1vw;
    display: none;
}

.titulo {
    font-family: 'Trebuchet MS';
    color: rgb(40, 40, 40);
    text-decoration: underline;
    text-align: center;
}

.lista-botão-A {

    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 9%;
    font-family: 'Trebuchet MS';
    text-decoration-color: rgb(212, 212, 212);
}

.lista-botão-B {
    margin-top: -3vw;
}

.problema-botão {
    border-radius: 2vw;
    padding: 0.55vw;
    width: 35vw;
    font-family: 'Trebuchet MS';
    font-size: 1.6vw;
    cursor: pointer;
    margin: 0.5vw;
    margin-top: -0.1vw;
    margin-right: 30vw;
    margin-left: -8vw;
    border: none;
    background-color: rgb(212, 212, 212);
}


/* Modal Descrição */
/* Conteúdo */
.modal-content-descrição {
    width: 50vw;
    height: 32vw;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    display: none;
}

.botão {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 9%;
    font-family: 'Trebuchet MS';
    text-decoration-color: rgb(212, 212, 212);
}

.btnn {
    width: 10vw;
    height: 4vh;
    border-radius: 100px;
    border: none;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
    margin-top: 0vw;
    font-size: 1.2vw;

}

.descrição {
    resize: none;
    padding: 1vw;
    border-radius: 2vw;
    text-align: justify;
    font-family: 'Trebuchet MS';
    font-size: 2vw;
    border: none;
    width: 46vw;
    height: 19vw;
    background-color: rgb(212, 212, 212);
    margin-top: 0.5vw;
    margin-bottom: -2vw;
}

/* Modal Obrigado */
/* Conteúdo */

.modal-content-obrigado {
    width: 50vw;
    height: 32vw;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    display: none;
}

.título-obg {
    font-family: 'Trebuchet MS';
    color: rgb(40, 40, 40);
    text-decoration: underline;
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px
}

.sub-obg {
    text-decoration: none;
    font-family: 'Trebuchet MS';
    color: rgb(40, 40, 40);
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}

.botãoobg {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 9%;
    font-family: 'Trebuchet MS';
    text-decoration-color: rgb(212, 212, 212);
    justify-content: center;
    display: flex;
}

.nn {
    width: 200px;
    border-radius: 100px;
    border: none;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
    margin-top: 1.5vw;
    margin-left: 5vw;
    margin-right: 1.5vw;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    color: rgb(40, 40, 40);
    padding-block: 25px;
    font-family: 'Trebuchet MS';
}

.nn2 {
    width: 200px;
    border-radius: 100px;
    margin: 1.5vw;
    border: none;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
    margin-top: 1.5vw;
    margin-right: 5vw;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: rgb(40, 40, 40);
    padding-block: 25px;
    font-family: 'Trebuchet MS';
}

/* Botão de Fechar */
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 45px;
    transform: rotate(45deg);
    font-weight: bolder;
    cursor: pointer;
}


/* Modal Login */
.modal-content-login {
    width: 40vw;
    height: 31vw;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: none;
}

.inplogin {
    font-size: 1.75vw;
    margin-bottom: 0vw;
    margin-top: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inp {
    width: 34vw;
    height: 1vw;
    margin-top: 1vw;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 1.25vw;
    margin-bottom: 0.5vw;
    background-color: #E4E1E1;
    border-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inpsub {
    width: 10vw;
    height: 4vw;
    margin-top: 5vw;
    border-radius: 1vw;
    font-size: 1.25vw;
    background-color: #E4E1E1;
    border-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
=======
* {
    margin: 0%;
    padding: 0%;
}

.fundo {
    background-color: #EBD5D5;
}

.centro {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
}

.software {
    position: absolute;
    margin-left: -330px;
    font-size: 45px;
    margin-top: -31px;
    color: #555555;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.esconde {
    visibility: hidden;
}

.dados {
    margin-left: 41vw;
    margin-top: 2vw;
    margin-bottom: -4vw;

}

.computador {
    height: 10vw;
    width: 10vw;
}

.compos {
    position: absolute;
    margin-left: 29vw;
    margin-top: -1vw;
}

.radio {
    background-color: #555555;
}

.hardware {
    position: absolute;
    margin-left: 145px;
    margin-top: -30px;
    font-size: 45px;
    color: #555555;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.hardware:hover,
.software:hover,
.paodebatata:hover {
    cursor: pointer;
}


a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.linha {
    z-index: -1;
    position: absolute;
}

.barrasup {
    height: 99px;
    width: 100%;
    display: flex;
    background-image: url(../img/Faixa.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.circuloE {
    fill: #555555;
    position: fixed;
    margin-left: -300px;
}

.circuloD {
    fill: #555555;
    position: fixed;
    margin-left: 300px;
}

.logo {
    height: 6.30vw;
    width: 6.30vw;
    place-self: center;
    margin-left: 5%;
    margin-right: -10%;
}

.techelp {
    position: absolute;
    place-self: center;
    margin-left: 14vw;
    height: 2vw;
}

.buttons {
    height: 5vw;
    width: 30%;
    margin-left: 60%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.butTxt {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10mm;
    text-decoration: none;
    position: absolute;
    display: flex;
    margin-top: -170px;
    width: 200px;
    margin-left: 25px;
}

.inputBase {
    background-color: #E4E1E1;
    border-radius: 25px;
    text-align: center;
    border-width: 0.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 15vw;
    height: 2vw;
}

.inputSo {
    margin-left: 7.8vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.EsNome{
    border:1px solid black;

}

.EsLocal{
    margin-left: 15.9vw;
    margin-top: -2vw;
    border:1px solid black;

}

.EsSo{
    margin-left: 7.8vw;
    margin-top: 1vw;
    border:1px solid black;

}

.EsProcessador{
    margin-top: 1.5vw;
    border:1px solid black;

}

.EsRam{
    margin-left: 15.9vw;
    margin-top: -2vw;
    border:1px solid black;

}

.Txt {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10mm;
    text-decoration: none;
    position: absolute;
    display: flex;
    margin-top: -170px;
    width: 200px;
    margin-left: 25px;
}

.TxtHM {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4mm;
    text-decoration: none;
    position: absolute;
    display: flex;
    width: 40px;
    margin-top: -52px;
    margin-left: 18px;
}

.TxtRP {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.58mm;
    text-decoration: none;
    position: absolute;
    display: flex;
    height: 77px;
    width: 77px;
    margin-top: -59px;
    margin-left: 3.5px;
    background-image: url(../static/img/RelatarBut.svg);
    background-repeat: no-repeat;
    background-size: 77px;

}

.TxtSF {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.8mm;
    text-decoration: none;
    position: absolute;
    display: flex;
    width: 50px;
    margin-top: -59px;
    margin-left: 13.5px;
}

.TxtAT {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.8mm;
    text-decoration: none;
    position: absolute;
    display: flex;
    width: 60px;
    margin-top: -59px;
    margin-left: 8px;
}

.hexag {
    height: 85px;
    width: 85px;
    margin-top: 5px;
}

.hexagHM {
    height: 77px;
    width: 77px;
    margin-top: -5.6px;
    margin-right: -19.4px;
}

.hexagRP {
    height: 77px;
    width: 77px;
    margin-top: 27.5px;
    margin-right: -19.4px;
}

.hexagSF {
    height: 77px;
    width: 77px;
    margin-top: -5.2px;
    margin-right: -19.4px;
}

.hexagAT {
    height: 77px;
    width: 77px;
    margin-top: 27.5px;
    margin-right: -19.4px;
}

.butao {
    margin: 0;
}




/* Funcionamento do modal */
.bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

/* Modal Hardware / ... */
/* Conteúdo */
.modal-content-hardware {
    width: 40vw;
    height: 31vw;
    background-color: white;
    text-align: center;
    padding: 1vw;
    position: relative;
    border-radius: 1vw;
    display: none;
}

.titulo {
    font-family: 'Trebuchet MS';
    color: rgb(40, 40, 40);
    text-decoration: underline;
    text-align: center;
}

.lista-botão-A {

    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 9%;
    font-family: 'Trebuchet MS';
    text-decoration-color: rgb(212, 212, 212);
}

.lista-botão-B {
    margin-top: -3vw;
}

.problema-botão {
    border-radius: 2vw;
    padding: 0.55vw;
    width: 35vw;
    font-family: 'Trebuchet MS';
    font-size: 1.6vw;
    cursor: pointer;
    margin: 0.5vw;
    margin-top: -0.1vw;
    margin-right: 30vw;
    margin-left: -8vw;
    border: none;
    background-color: rgb(212, 212, 212);
}


/* Modal Descrição */
/* Conteúdo */
.modal-content-descrição {
    width: 50vw;
    height: 32vw;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    display: none;
}

.botão {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 9%;
    font-family: 'Trebuchet MS';
    text-decoration-color: rgb(212, 212, 212);
}

.btnn {
    width: 10vw;
    height: 4vh;
    border-radius: 100px;
    border: none;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
    margin-top: 0vw;
    font-size: 1.2vw;

}

.descrição {
    resize: none;
    padding: 1vw;
    border-radius: 2vw;
    text-align: justify;
    font-family: 'Trebuchet MS';
    font-size: 2vw;
    border: none;
    width: 46vw;
    height: 19vw;
    background-color: rgb(212, 212, 212);
    margin-top: 0.5vw;
    margin-bottom: -2vw;
}

/* Modal Obrigado */
/* Conteúdo */

.modal-content-obrigado {
    width: 50vw;
    height: 32vw;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    display: none;
}

.título-obg {
    font-family: 'Trebuchet MS';
    color: rgb(40, 40, 40);
    text-decoration: underline;
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px
}

.sub-obg {
    text-decoration: none;
    font-family: 'Trebuchet MS';
    color: rgb(40, 40, 40);
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}

.botãoobg {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 9%;
    font-family: 'Trebuchet MS';
    text-decoration-color: rgb(212, 212, 212);
    justify-content: center;
    display: flex;
}

.nn {
    width: 200px;
    border-radius: 100px;
    border: none;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
    margin-top: 1.5vw;
    margin-left: 5vw;
    margin-right: 1.5vw;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    color: rgb(40, 40, 40);
    padding-block: 25px;
    font-family: 'Trebuchet MS';
}

.nn2 {
    width: 200px;
    border-radius: 100px;
    margin: 1.5vw;
    border: none;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
    margin-top: 1.5vw;
    margin-right: 5vw;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: rgb(40, 40, 40);
    padding-block: 25px;
    font-family: 'Trebuchet MS';
}

/* Botão de Fechar */
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 45px;
    transform: rotate(45deg);
    font-weight: bolder;
    cursor: pointer;
}


/* Modal Login */
.modal-content-login {
    width: 40vw;
    height: 31vw;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: none;
}

.inplogin {
    font-size: 1.75vw;
    margin-bottom: 0vw;
    margin-top: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inp {
    width: 34vw;
    height: 1vw;
    margin-top: 1vw;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 1.25vw;
    margin-bottom: 0.5vw;
    background-color: #E4E1E1;
    border-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inpsub {
    width: 10vw;
    height: 4vw;
    margin-top: 5vw;
    border-radius: 1vw;
    font-size: 1.25vw;
    background-color: #E4E1E1;
    border-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
>>>>>>> main
}