{% extends 'base.html'%}
{%block title%}Atualizar Chamado{% endblock %}
{% block content %}
        <div class="principal">
            <form action="/atualizar/{{chamado.id}}" method="POST">
            
                <div style=" margin-right: 20%; float: right;">
                    <p>
                        <label for="description" form="form-label"><h3 style="color: white;">Descrição:</h3></label>
                        <textarea name="description" id="description" cols="30" rows="10" name="description" style="border-radius: 20px; background-color: #A4C0DD; padding:3%;">{{chamado.Description}}</textarea>
                    </p>
                </div>

                <div class="" style="margin: 2vw 30%;">
                    <p>
                        <label for="lab" form="form-label"><h3 style="color: white;">Laboratório:</h3></label>
                        <input type="text" id="lab" name="lab" value="{{comp.Object_lab}}" style="border-radius: 20px; background-color: #A4C0DD">
                    </p>
                </div>
    
                <div class="" style="margin: 2vw 30%;">
                    <p>
                        <label for="comp" form="form-label"><h3 style="color: white;">Computador:</h3></label>
                        <input type="text" id="comp" name="comp" value="{{comp.Object_compname}}" style="border-radius: 20px; background-color: #A4C0DD">
                    </p>
                </div>
    
                <div class="" style="margin: 2vw 30%;">
                    <p>
                        <label for="problem_type" form="form-label"><h3 style="color: white;">Tipo de problema:</h3></label>
                        <input type="text" id="problem_type" name="problem" value="{{chamado.Problem}}" style="border-radius: 20px; background-color: #A4C0DD">
                    </p>
                </div>
                
                <div>
                    <p>
                        <input type="submit" id="Enviar" value="Enviar" style="border-radius: 20px; height: 20%; width: 30%; background-color: #DBEDFF; margin-left: 32vw; margin-top: 0%; margin-bottom: 5vw;">
                    </p>
                </div>
                
            </form>
        </div>

{% endblock %}
