<!DOCTYPE html>
<html lang="en">

<!-- Construção da pag de login para acesso do técnico do técnico -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body class="bodylogin">
    <div class="borda">
        <h1>Login Técnico</h1>
        <form action="" method="post">
            <label for="" class="inplogin">E-mail:</label>
            <br><input class="inp" type="email" name="email" placeholder="Digite seu e-mail">

            <br><label for="" class="inplogin">Senha:</label>
            <br><input class="inp" type="password" name="password" placeholder="Sua senha"> 

            <br><input class="inpsub" type="submit" value="Entrar">
        </form>
    </div>

</body>

</html>